.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #35a750;
}
.logo {
  width: 120px; /* Adjust size */
  height: 120px;
}
.app-name {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 20px;
}

.navbar .logoname{
  font-family: 'Martel', serif;
}
.logoname{
  font-family: 'Martel', serif;
}

.main-content {
  background-color: white;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}
