.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #252525;
}
.logo {
  width: 120px; /* Adjust size */
  height: 120px;
}
.app-name {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 20px;
}

.navbar .logoname{
  font-family: 'Martel', serif;
}
.logoname{
  font-family: 'Martel', serif;
}

.main-content {
  background-color: white;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

/* About Section CSS */
.hero-section {
  position: relative;
  background-attachment: fixed;
}

.hero-section .overlay {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .hero-section {
    height: 300px !important;
  }
  
  .hero-section h1 {
    font-size: 2.5rem !important;
  }
}

